@import url('https://fonts.googleapis.com/css?family=Gochi+Hand|Source+Sans+Pro:400,700');
:root {
  --color-red: #d32934;
  --color-gold: #F3DA58;
  --color-darkGreen: #325744;
  --color-green: #00895E;
}
*::selection {
  background: rgba(0, 137, 94, 0.829);
  color: white;
}
body {
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  word-spacing: 0.25em;
  font-family: 'Gochi Hand', cursive;
  font-weight: normal;
}
.centerer {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  height: 100%;
}
.right-corner {
  position: fixed;
  right: 0;
  top: 0;
  padding: 1em;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 70%;
  padding-left: 16%;
  padding-right: 14%;
}
main > h1 {
  font-size: 2.4em;
  margin-bottom: 0;
  margin-top: 0.95rem;
  color: var(--color-red)
}
main > section {
  width: 100%;
}
main > section > h1 {
  font-size: 2em;
  text-align: center;
}
em {
  font-style: inherit;
  font-weight: bold;
  color: var(--color-red);
}

.malachite > article {
  background: linear-gradient(
    to top right,
    var(--color-green),
    var(--color-darkGreen)
  );
}
.malachite > h1 {
  color: var(--color-green)
}
.sunset > article {
  background: linear-gradient(
    to top right,
    var(--color-gold),
    var(--color-red)
  );
}
.sunset > h1 {
  color: var(--color-red)
}

#icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#icon svg {
  fill: white;
  width: 40px;
  height: 40px;
  transform: translate3d(-2px, 4px, 0);
}

.hidden {
  display: none;
}
.take-place {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}
.hidden.take-place {
  display: initial;
  opacity: 0;
}

.step {
  font-weight: bold;
}
.step.dimmed {
  /*color: #444; */
  font-weight: normal; 
}
@media print {
  .hidden {
    display: initial;
  }  
  .dimmed {
    color: inherit;
  }
  .step {
    font-weight: normal;
  }
  main {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
  main > section {
    page-break-before: always;
  }
  .map {
    display: none !important;
  }
}

.map {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1em;
  margin-bottom: 1.6em;
}
.map > .column {
  height: 100%;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
.map > .column > .dot {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-top: 0.3em;
  background: linear-gradient(
    to top right,
    #ccc,
    #eee
  );
}
.map > .column > .dot.current-step {
  background: linear-gradient(
    to top right,
    #bbb,
    #ddd
  );
}
.map > .column > .dot.active {
  background: linear-gradient(
    to top right,
    var(--color-gold),
    var(--color-red)
  );
}
dt, dd {
  display: inline-block;
}